@typeparam TItem
<table class="table table-responsive mb-4">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @if (Items != null && RowTemplate != null)
        {
            @foreach (var item in Items)
            {
                <tr>@RowTemplate(item)</tr>
            }
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<tr>@TableFooter</tr>
@code {
    [Parameter] public IEnumerable<TItem>? Items { get; set; }
    [Parameter] public RenderFragment? TableHeader { get; set; }
    [Parameter] public RenderFragment<TItem>? RowTemplate { get; set; }
    [Parameter] public RenderFragment? TableFooter { get; set; }
}