@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStore

<label for="naam" class="form-label">Jouw naam</label>
@if (!naamgekend)
{
    <input id="naam" type="text" @bind="naam" class="form-control" />
    <button class="btn btn-success mt-3" @onclick="async () => await SaveLocalAsync()">Naam opslaan</button>
}
else
{
    <span>Hallo @naam</span>
    <button class="btn btn-danger ms-3" @onclick="async () => await ClearLocalAsync()">Naam wissen</button>
}
@code {
    private string? naam;
    private bool naamgekend = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            naam = await localStore.GetItemAsync<string>("usernaam");
            if (naam != null)
            {
                naamgekend = true;
                StateHasChanged();
            }
        }
    }
    public async Task SaveLocalAsync()
    {
        await localStore.SetItemAsync<string>("usernaam", naam);
        naamgekend = true;
    }

    public async Task ClearLocalAsync()
    {
        naam = null;
        naamgekend = false;
        await localStore.RemoveItemAsync("usernaam");
    }
}